<h1>Results Page</h1>

<ul>
  <% data["Search"].forEach(function(movie) { %>
      <li>
        <strong>
          <%= movie["Title"] %>
        </strong>
      </li>
      - <%= movie["Year"] %>
  <% }); %>
</ul>

<a href="/">Search some more!</a>
