<h1>This is my new home</h1>

<form action="/results" method="GET">
    <input type="text" placeholder="search here" name="search">
    <input type="submit">
</form>
<%#I am adding a form to suck the name and use it on the /result %>
